.cell {
 
    
    &.black {
        background-color: rgb(70, 70, 70);
    }

    &.white {
        background-color: rgb(235, 235, 235);
    }

    &.marked {
        background-color: rgba(7, 158, 7, 0.63);
        cursor: pointer;
    }

    .player {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
            transform: scale(1.1);
        }
    }
}